<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barbercornerproj">

    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberCornerProj">
        <activity
            android:name=".SummaryActivity"
            android:exported="false" />
        <activity
            android:name=".InfoProdShopActivity"
            android:exported="false" />
        <activity
            android:name=".ShopHairProductActivity"
            android:exported="false" />
        <activity
            android:name=".FullViewGalleryImg"
            android:exported="false" />
        <activity
            android:name=".Hair_Style_Pics"
            android:exported="false" />
        <activity
            android:name=".UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".AddandUpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".BarberViewActivity"
            android:exported="false" />
        <activity
            android:name=".Message"
            android:exported="false" />
        <activity
            android:name=".StaffDashBoard"
            android:exported="false" />
        <activity
            android:name=".AdminDashBoard"
            android:exported="false" />
        <activity
            android:name=".UserDashBoard"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.barbercornerproj"
            android:name=".Database.OrderProvider"
            android:exported="true" />
    </application>

</manifest>